---
version: 3

images:
  base_image:
    name: registry.redhat.io/ubi9-minimal:latest

options:
  package_manager_path: /usr/bin/microdnf

additional_build_files:
  - dest: configs
    src: ../ansible.cfg

dependencies:
  python_interpreter:
    package_system: python3.12
    python_path: /usr/bin/python3.12
  ansible_core:
    package_pip: "ansible-core>=2.18,<2.19"
  ansible_runner:
    package_pip: ansible-runner
  system:
    - openssh-clients
    - sshpass
  python:
    - kubernetes >= 12.0.0
    - ansible-lint
    - molecule
    - molecule-plugins
  galaxy:
    collections:
      - name: ansible.platform
      - name: ansible.controller
      - name: ansible.hub
      - name: ansible.eda
      - name: infra.aap_configuration
      - name: infra.aap_utilities
      - name: ansible.posix
      - name: kubernetes.core
      - name: redhat.openshift
    roles: []
  # Don't install openshift-clients RPM (not in UBI minimal repos).
  # We provide oc via tarball in append_final steps.
  exclude:
    system:
      - openshift-clients

additional_build_steps:
  prepend_galaxy:
    - ADD _build/configs/ansible.cfg /etc/ansible/ansible.cfg
    - ARG ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_VALIDATED_TOKEN
    - ARG ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_CERTIFIED_TOKEN
  # Build-only deps: installed only in builder stage for building systemd-python/gssapi wheels.
  prepend_builder:
    - RUN $PKGMGR install -y gcc python3.12-devel pkg-config systemd-devel krb5-devel &&
          if [ -z "${PKGMGR_PRESERVE_CACHE}" ]; then $PKGMGR clean all; fi
  prepend_final:
    - ARG OPENSHIFT_CLIENT_VERSION=stable
    # yamllint disable-line rule:line-length
    - ARG OPENSHIFT_CLIENT_URL=https://mirror.openshift.com/pub/openshift-v4/clients/ocp/${OPENSHIFT_CLIENT_VERSION}/openshift-client-linux.tar.gz
  append_final:
    # Install OpenShift CLI to satisfy openshift-clients requirement (RPM not in UBI minimal repos)
    - RUN $PKGMGR install -y tar &&
          curl -sL $OPENSHIFT_CLIENT_URL -o /tmp/oc.tar.gz &&
          tar -xzf /tmp/oc.tar.gz -C /usr/local/bin oc kubectl &&
          rm /tmp/oc.tar.gz && chmod +x /usr/local/bin/oc /usr/local/bin/kubectl &&
          $PKGMGR remove -y tar && $PKGMGR clean all
    - LABEL quay.expires-after="45d"
