---
version: 3

images:
  base_image:
    name: registry.redhat.io/ubi9-minimal:latest

options:
  package_manager_path: /usr/bin/microdnf

additional_build_files:
  - dest: configs
    src: ../ansible.cfg

dependencies:
  python_interpreter:
    package_system: python3.12
    python_path: /usr/bin/python3.12
  ansible_core:
    package_pip: "ansible-core>=2.18,<2.19"
  ansible_runner:
    package_pip: ansible-runner
  system:
    - openssh-clients
    - sshpass
  python:
    - kubernetes >= 12.0.0
  galaxy:
    collections:
      - name: amazon.aws
      - name: community.aws
      - name: community.general
      - name: community.okd
      - name: kubernetes.core
      - name: redhat.openshift
    roles: []
  # Don't install openshift-clients RPM (not in UBI minimal repos).
  # We provide oc and rosa via tarballs.
  exclude:
    system:
      - openshift-clients

additional_build_steps:
  prepend_galaxy:
    - ADD _build/configs/ansible.cfg /etc/ansible/ansible.cfg
    - ARG ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_VALIDATED_TOKEN
    - ARG ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_CERTIFIED_TOKEN
  prepend_final:
    - ARG OPENSHIFT_CLIENT_VERSION=stable
    # yamllint disable-line rule:line-length
    - ARG OPENSHIFT_CLIENT_URL=https://mirror.openshift.com/pub/openshift-v4/clients/ocp/${OPENSHIFT_CLIENT_VERSION}/openshift-client-linux.tar.gz
    # yamllint disable-line rule:line-length
    - ARG ROSA_CLIENT_URL=https://mirror.openshift.com/pub/openshift-v4/clients/rosa/latest/rosa-linux.tar.gz
    - ARG AWS_CLIENT_URL=https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
  append_final:
    # Install AWS CLI v2 (curl from image; install/remove unzip for this step only)
    - RUN $PKGMGR install -y unzip &&
          /usr/bin/curl -sL $AWS_CLIENT_URL -o /awscliv2.zip &&
          /usr/bin/unzip /awscliv2.zip -d /aws-install &&
          /aws-install/aws/install &&
          rm -rf /aws-install /awscliv2.zip &&
          $PKGMGR remove -y unzip && $PKGMGR clean all
    # Install OpenShift CLI (oc) and ROSA CLI; install/remove tar for this step only
    - RUN $PKGMGR install -y tar &&
          /usr/bin/curl -sL $OPENSHIFT_CLIENT_URL -o /tmp/oc.tar.gz &&
          /usr/bin/tar -xzf /tmp/oc.tar.gz -C /usr/local/bin oc kubectl &&
          rm /tmp/oc.tar.gz &&
          /usr/bin/curl -sL $ROSA_CLIENT_URL -o /tmp/rosa.tar.gz &&
          /usr/bin/tar -xzf /tmp/rosa.tar.gz -C /usr/local/bin --no-same-owner &&
          rm /tmp/rosa.tar.gz &&
          chmod +x /usr/local/bin/oc /usr/local/bin/kubectl /usr/local/bin/rosa &&
          $PKGMGR remove -y tar && $PKGMGR clean all
    - LABEL quay.expires-after="45d"
