---
version: 3

images:
  base_image:
    # Need to use Fedora 40 so that Python 3.12 is used until
    # https://github.com/python-pendulum/pendulum/issues/844
    # is fixed to support Python 3.13 which Fedora 41 uses
    name: quay.io/fedora/fedora:40

additional_build_files:
  - dest: configs
    src: ../ansible.cfg

dependencies:
  python_interpreter:
    package_system: python3
    python_path: /usr/bin/python3
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
  system:
    - openssh-clients
    - sshpass
  python:
    - kubernetes >= 12.0.0
  galaxy:
    collections:
      - name: azure.azcollection
      - name: community.general
      - name: community.okd
      - name: kubernetes.core
      - name: redhat.openshift
    roles: []

additional_build_steps:
  prepend_base:
    - RUN dnf install -y python3 python3-pip python3-libdnf5
  prepend_galaxy:
    - ADD _build/configs/ansible.cfg /etc/ansible/ansible.cfg
    - ARG ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_TOKEN
